/* 顾客分析 */
.client_title{display: flex;justify-content: space-between;align-items: center;padding: 24upx 30upx;}
.client_title .name{font-size: 32upx;}
.client_title /deep/.dx-cell{padding: 0 30upx;border-bottom: 0;background-color: #57C734;border-radius: 34upx;color: #fff;}
.client_title /deep/.dx-cell .dx_ft-access:before{border-color: #fff;border-width: 2upx 2upx 0 0;transform: matrix(.71,.71,.71,-.71,0,0);margin-top: -8upx;}