.pro_edit >>>.star{display: none;}
.pro_edit >>>.dx-input{text-align: right;}
.pro_edit >>>.title .dx-input{text-align: left;}
.pro_edit >>>.uni-switch-input{background-color: #57C734!important;border-color: #fff!important;}