.md-item .top{display: flex;align-items: center;justify-content: space-between;padding: 16upx 24upx;border-bottom: 1upx #eee solid;}
.md-item .right-box{display: flex;align-content: space-between;flex-wrap: wrap;height: 100%;}
.md-item .right-box .row{width: 100%;}
.md-item .bbtn{padding: 16upx 20upx;display: flex;justify-content: space-between;align-items: center;}