.info-sec-title{height: 68upx;line-height: 68upx;padding: 0 30upx;font-size: 28upx;color: #999;background-color: #f2f2f2;}


.login_out{background-color: #fff;height: 100upx;line-height: 100upx;text-align: center;color: red;font-size: 30upx;letter-spacing: 2upx;margin: 24upx 0;}


.info-form /deep/.dx-txt{text-align: right;position: relative;min-height: 34px;color: #666;}
.info-form /deep/.picker{color: #666;}
.info-form /deep/.dx-label{width: 210upx!important;}
.info-form /deep/.dx-input{text-align: right;}
.service_phone /deep/.dx-txt{color: #57C734;}

.info-form .address /deep/.dx-input,.info-form /deep/.nav .dx-input{padding-right: 20upx;}


/* .info-subBtn /deep/.dxi-btn{border-color: #57C734;background-color: #57C734;color: #fff;} */


/* 支付密码 */
.payP-box{text-align: center;position: fixed;top: 50%;margin-top: -80upx;left: 0;width: 100%;}
.num-group{display: flex;justify-content: center;}
.num-group input{width: 100upx;height: 100upx;border: 2upx #f2f2f2 solid;background-color: #fff;text-align: center;}