.group .group-box{position: relative;}
/* .group .group-box:before{content: '';display: block;position: absolute;top: -20upx;width:0;height:0;border-left: 16upx solid transparent;border-right: 16upx solid transparent;border-bottom: 20upx solid #fff3f3;left: 50%;margin-left: -5px;} */
.group .con{text-align: center;}
.group .con .ass-state{font-size: 40upx;color: #333;height: 68upx;line-height: 68upx;}
.group .con .ass-state .num{font-size: 56upx;color: #eb3d3c;}
.group .con .ass-disc{font-size: 30upx;color: #555;display: flex;justify-content: center;align-items: center;}
.group .people{display: flex;justify-content: center;margin-top: 20upx;}
.group .people-list{margin-left: -30upx;}
.group .people .img{width: 80upx;height: 80upx;border-radius: 50%;display: flex;}


#footer{height: 100upx;position: fixed;left: 0;bottom: 0;width: 100%;background: #fff;z-index: 10;display: flex;}
#footer .left{display: flex;}
#footer .left .btn-item{padding: 0;margin: 0;width: 100upx;text-align: center;background: transparent;}
#footer .left .iconfont{height: 64upx;line-height: 68upx;font-size: 40upx;color: #666;}
#footer .left .txt{height: 32upx;line-height: 32upx;font-size: 24upx;color: #666;}
#footer .left .cart{position: relative;}
#footer .left .cart .sum{position: absolute;top: 0px;right: 6upx;background: #FEAE1B;color: #fff;font-size: 20upx;border-radius: 50%;height: 32upx;width: 32upx;text-aling:center;line-height:32upx;}

#footer .right{line-height: 100upx;display: flex;flex: 1;overflow: hidden;}
#footer .right myform{width: 100%;}
#footer .right .r-nav{width: 100%;padding: 10upx 6upx;}
#footer .right .r-item{text-align: center;font-size: 28upx;color: #fff;height: 80upx;line-height: 80upx;border-radius: 40upx;}
#footer .right .r-item-yellow{background-color: #FEAE1B;} 
#footer .right .r-item-red{background-color: #FF4949;}
#footer .right .r-item-default{background-color: #eee;color: #999;}
#footer .right .sub-btn-big{border-radius: 0;}

/* 规则 */
.ass-rule .process{display: flex;justify-content: space-between;}
.ass-rule .process .item{font-size: 24upx;color: #999;}
.ass-rule .process .item .name{padding-left: 12upx;}
.ass-rule .rule-con ._p{text-align: justify;}

/* 产品 */
/deep/.dxi_pic-lists .group-time{background: #ff4342;padding: 10upx;position: absolute;left: 24upx;bottom: 24upx;border-radius: 0 0 6upx 6upx;}
/deep/.dxi_pic-lists .right-box{display: flex;flex-wrap: wrap;align-content: space-between;height: 100%;}
/deep/.dxi_pic-lists .downTime .num{width: 32upx;height: 32upx;margin: 0 4upx;}