@font-face {
  font-family: 'iconfont';  /* project id 1667805 */
  src: url('//at.alicdn.com/t/font_1667805_8xv87mz32st.eot');
  src: url('//at.alicdn.com/t/font_1667805_8xv87mz32st.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1667805_8xv87mz32st.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1667805_8xv87mz32st.woff') format('woff'),
  url('//at.alicdn.com/t/font_1667805_8xv87mz32st.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1667805_8xv87mz32st.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  /*font-size:16px;*/
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-inventory-in:before{content: "\e88b";}
.icon-inventory-out:before{content: "\e889";}
.icon-subparts:before{content: "\e6bf";}
.icon-payable:before{content: "\e633";}
.icon-receivable:before{content: "\e88c";}