/* 头部城市+logo */
.top-city{position: fixed;left: 0;width: 100%;z-index: 101;box-shadow: 0 0 20upx 0 hsla(0, 6%, 58%, .2);-webkit-box-shadow: 0 0 20upx 0 hsla(0, 6%, 58%, .2);-moz-box-shadow: 0 0 20upx 0 hsla(0, 6%, 58%, .2);align-items: center;padding: 0 15upx 20upx;}
.top-city .left-city{padding-right: 30upx;}
.top-city .right-search{flex: 1;}

/* #ifdef MP-ALIPAY */
/* #endif */

.ibanner{padding-top: 110upx;position: relative;}
.ibanner .banner-bg{position: absolute;top: 0;left: 0;width: 100%;z-index: 1;height: 310upx;}
.ibanner .banner-bg>.main-bg{width: 50%;height: 354upx;border: 1px solid transparent;z-index: 1;position: absolute;top: 50upx;}
.ibanner .banner-bg-left{left: 0;transform: skewY(8deg);}
.ibanner .banner-bg-right{right: 0;transform: skewY(-8deg);}


/* 广告位 */
.iad-img{margin: 12px;}
.iad-img .img{width: 100%;display: flex;}


/* 首页-市场 */
.markt-group{margin: 24upx;}
.markt-ad{position: relative;}
.markt-ad .img{width: 100%;border-radius: 12upx;}
.markt-ad .info{position: absolute;top: 0;left: 0;width: 100%;bottom: 0;}
.markt-ad .info .name{color: #495817;}
.markt-ad .info .address{color: #495817;}
.markt-ad .info .remark{color: #495817;}
.markt-pro{margin-top: -60upx;}
.markt-pro /deep/.scroll-item{background-color: #fff;border-radius: 12upx;}
.markt-pro /deep/.scroll-item .img{border-radius: 12upx 12upx 0 0;}
.markt-pro /deep/.scroll-item .title{padding: 10upx 10upx 0;}
.markt-pro /deep/.scroll-item .price{padding: 0 10upx 10upx;}