.notice /deep/.dxi-list-msg{align-items: flex-start;}
.notice .licon{width: 80upx;height: 80upx;border-radius: 50%;margin-right: 30upx;font-size: 36upx;color: #fff;display: flex;align-items: center;justify-content: center;}
.notice .systemI{background-color: #57C734;}
.notice .orderI{background-color: #00BFFF;}