.after-lists .top{display: flex;align-items: center;justify-content: space-between;padding: 0 24upx;height: 88upx;font-size: 28upx;color: #666;border-bottom: 1upx #eee solid;}
.after-lists .con{padding: 20upx 24upx;}
.after-lists .con .content{font-size: 32upx;line-height: 1.6;color: #333;}
.after-lists .Bbtn{display: flex;justify-content: flex-end;align-items: center;padding: 16upx 20upx;border-top: 1upx #eee solid;}
.after-lists .Bbtn /deep/.dxi-btn{padding-left: 40upx!important;padding-right: 40upx!important;margin-left: 20upx;}
.after-lists .reason{padding: 16upx 20upx;display: flex;justify-content: space-between;align-items: center;font-size: 30upx;color: #333;border-top: 1upx #eee solid;min-height: 100upx;}
.after-lists .reason .value{text-align: right;}


.del-icon{border-radius: 50%;width: 26px;height: 26px;line-height: 26px;text-align: center;}