/* app.wxss */
html,body{background: #f2f2f2;height: 100vh;}
view,sroll-view,swiper,icon,text,progress,button,checkbox,form,input,label,input,picker,radio,slider,switch,action-sheet,modal,toast,loading,navigator,audio,image,video,map,canvas,div,input,p,span,li,ul,textarea,select {box-sizing: border-box;}
button::after{border: 0;}


/* 遮罩层 */
.share-overlay{position: fixed;top: 0px;right: 0;bottom: 0;left: 0;z-index: 1;width: 100%; height: 1600upx; background-color: rgba(0,0,0,0.6)}


/* 主体 */
.main-color{color: #57C734!important;}
.main-bg{background: #57C734!important;}
.main-border{border-color: #57C734!important;}
.dx-btn-green{background: #57C734;border-radius: 8upx;color: #fff;}
.dx-btn-green-o{border: 2upx #57C734 solid;background: #fff;border-radius: 8upx;color: #57C734;}


/* #ifdef APP-PLUS || MP-ALIPAY */
.wx-swiper-dot{width: 8rpx!important;height: 8rpx!important;display: inline-flex;background: none;justify-content: space-between;background: rgba(255, 255, 255, 0.8)!important;border-radius: 16rpx!important;}
.wx-swiper-dot-active {width: 16rpx!important;background: #fff!important;}
/* #endif */


/* #ifdef H5 */
.uni-swiper-dot{width: 8rpx!important;height: 8rpx!important;display: inline-flex;background: none;justify-content: space-between;background: rgba(255, 255, 255, 0.8)!important;border-radius: 16rpx!important;}
.uni-swiper-dot-active {width: 16rpx!important;background: #fff!important;}
/* #endif */


/* 页面 */
.pages-search-products-main{color: #333;background: #fff!important;}
.pages-user-login-main{background-color: #fff;}


/* weui-inpu */
.dx-label,.dx-input{font-size: 32upx!important;}