
.recharge-input{color: #57C734;font-size:  48upx;text-align: right;}
.recharge-input .uni-input-placeholder,.recharge-input .uni-input-input{font-size: 48upx;}
.recharge .weui-cell{border: 2upx #ddd solid;border-radius: 12upx;}


/* 充值 */
.rechage-price{display: flex;flex-wrap: wrap;}
.rechage-price .selectAmount{width:calc(33.33% - 10px);margin: 5px;border: 1px #e1e1e1 solid;border-radius: 4px;padding: 10px 0;text-align: center;}
.rechage-price .selectAmount .num{text-align: center;font-size: 18px;color: #57C734;}
.rechage-price .selectAmount.select{background: #57C734;border-color: #57C734;}


.reRadio /deep/.uni-radio-input-checked{background-color:  #57C734!important;border-color:  #57C734!important;}