.store-header-box{position: fixed;left: 0;width: 100%;top: 0;}
.store-header-icon .dxi-icon{display: flex;justify-content: center;}


.store_show .businessHours .nav{background-color: #7AC53D;padding: 12upx 20upx;color: #ffff;font-size: 30upx;line-height: 36upx;}


/* 左侧导航布局 start*/

/* 隐藏scroll-view滚动条*/
::-webkit-scrollbar {width: 0;height: 0;color: transparent;}

.tab-view {width: 200upx;position: fixed;left: 0;z-index: 11;background: #f6f6f6;}
.tab-bar-item {width: 200upx;height: 110upx;background: #f6f6f6;display: flex;align-items: center;justify-content: center;font-size: 30upx;color: #444;font-weight: 400;}
.active {position: relative;color: #000;font-size: 32upx;font-weight: 600;background: #fcfcfc;}
.active::before {content: "";position: absolute;border-left: 8upx solid #57C734;height: 30upx;left: 0;}
/* 左侧导航布局 end*/
.right-box{position: fixed;left: 0;z-index: 11;padding-left: 200upx;width: 100%;}


/* 脚部 */
.store-footer{position: fixed;left: 0;bottom: 0;width: 100%;z-index: 100;background-color: #fff;border-top: 2upx #eee solid;height: 100upx;}
.store-footer .icon{width: 120upx;height: 120upx;border-radius: 50%;background-color: #57C734;text-align: center;margin: -40upx 60upx 0 60upx;padding-top: 10upx;position: relative;}
.store-footer .dxi-icon{line-height: 60upx;}
.store-footer .icon .num{position: absolute;top: -6upx;right: -10upx;background-color: #fb414a;color: #fff;font-size: 26upx;height: 44upx;line-height: 44upx;width: 44upx;border-radius: 50%;}


/* 2020-07-07 */
.topInfo{position: fixed;left: 0;width: 100%;}
.topInfo .coupon_num{position: absolute;top: 24upx;right: 0;padding: 6upx 20upx 6upx 30upx;background-color: rgba(0,0,0,0.3);color: #FDB508;font-size: 28upx;line-height: 40upx;border-radius: 26upx 0 0 26upx;}
.tabs-num{position: fixed;left: 0;width: 100%;}


/* 暂无数据 */
.proNodate{text-align: center;margin: 40upx 0;position: fixed;left: 0;width: 100%;font-size: 24upx;color: #999;}


/* 弹出优惠券 */
.diag-coupon{max-height: 600upx;overflow-y: auto;}
.diag-coupon .list_item{display: flex;position: relative;min-height: 150upx;}
.diag-coupon .list_item .item_left{width: 210upx;text-align: center;}
.diag-coupon .list_item .item_right{display: flex;flex-wrap: wrap;align-content: space-between;position: relative;z-index: 2;flex: 1;}
.diag-coupon .list_item .ir-bottom{align-items: center;}
.diag-coupon .list_item .ir-bottom .time{font-family: Calibri;}
.diag-coupon .discount{line-height: 110upx;}
.diag-coupon .getNav{z-index:100;font-size: 28upx;padding: 0 22upx;width: 72upx;line-height: 1.2;position: absolute;top: 0;right: 0;border-radius: 0 12upx 12upx 0;height: 150upx;display: flex;align-items: center;color: #fff;}
.diag-coupon .getNav.no{background-color: #57C734;}
.diag-coupon .getNav.yes{background-color: #ccc;}


/* 评价 */
.evalute {position: fixed;left: 0;width: 100%;}
.evalute .u-info .u-info-box{display: flex;align-items: center;}
.evalute .u-info .u-img .img{width: 80upx;height: 80upx;border-radius: 80upx;display: flex;}
.evalute .u-info .u-name{width: 100%;flex: 1;overflow: hidden;}
.evalute .u-info /deep/.tui-icon{height: 36upx;line-height: 36upx;font-size: 36upx!important;}
.evalute .u-con .p{font-size: 26upx;line-height: 44upx;}
.evalute .u-con .image-group{display: flex;margin: 0 -8upx;flex-wrap: wrap;}
.evalute .u-con .image-group .img-item{width: 200upx;box-sizing: border-box;margin: 8upx;}
.evalute .u-con .image-group .img-item image{width: 200upx;height: 220upx;display: flex;border-radius: 10upx;}
.evalute .u-con .again{border-left: 8upx #FF4351 solid;line-height: 28upx;}


/* 商家资料 */
.store-info{position: fixed;left: 0;width: 100%;}
.store-info /deep/.cell-name{width: 160upx;}
.store-info /deep/.cell-right{flex: 3;font-size: 30upx;text-align: left;color: #333;}


.empty{text-align: center;margin: 30upx 0;}
.empty .img{width: 200upx;height: 200upx;}