html,body{background-color: #fff!important;}
uni-page-body,uni-page-body>.login-body{height: 100%;background-color: #fff;}


.logo{padding: 80upx 0;text-align: center;}
.logo .img{width: 160upx;height: 160upx;border-radius: 12upx;}

.other-type .wechat{text-align: center;}
.other-type .wechat .dxi-icon{font-size: 40upx;color: #57C734;display: inline-block;width: 80upx;height: 80upx;text-align: center;line-height: 80upx;border: 1upx #57C734 solid;border-radius: 50%;}

.login-list /deep/.dx-cell{border-color: #ddd;}

.footer-agreement{position: fixed;bottom: 60upx;text-align: center;left: 0;width: 100%;display: flex;justify-content: center;align-items: center;font-size: 28upx;}

.info-subBtn /deep/.dxi-btn{border-color: #57C734;background-color: #57C734;color: #fff;}
.info-login /deep/.dxi-btn{border-color: #57C734;background-color: #ffffff;color: #57C734!;}

.agreement checkbox{zoom: 70%;display: flex;}


/deep/.dx-label,/deep/.dx-input,/deep/.dx-text{font-size: 32upx!important;}